body {
font-family: Arial, sans-serif;
background-color: #f4f4f4;
text-align: center;
padding: 40px;

}

.container {
background: white;
padding: 30px;
border-radius: 12px;
max-width: 400px;
margin: auto;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}


h1 {
color:#333

}
#contador {
font-size: 40px;
font-weight: bold;
margin: 20px 0;
}
button {
padding: 10px 16px;
margin: 5px;
font-size: 16px;
cursor: pointer;
}